* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
    background:#fcfcfc;
}
    form {
        width: 400px;
        border: 2px solid #ffffff;
        padding: 35px;
        display: flex;
        flex-direction: column;
    }
       
        .label {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            color:rgb(0, 0, 0);
            margin-top: 25px;
        }
        .form__input {
            height: 35px;
            background: none;
            border:none;
            padding:10px 15px;
            margin-top: 10px;
            border-bottom: 1px solid #000000;
            color: #000000;
            outline: none;
        }
        .btn {
            box-sizing: border-box;
            position: absolute;
            width: 324px;
            height: 50px;
            left: 796.25px;
            top: 625px;
            background: #000000;
            border-radius: 25px;
        }
        .Voiti {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #fffdfd;
            text-decoration:none;
        }
        .password__label{
            position: relative;
        }
        .password__btn{
            position: absolute;
            right: 22px;
            top: 35px;
        }
        .box {
            position: absolute;
            width: 612px;
            height: 600px;
            left: 654px;
            top: 200px;
            background: #ffffff;
            border-radius: 54px;
        }
       
        
    

    
    



